.react-datepicker__input-container input {
  display: block;
  width: 100%;
  border: 2px solid #dadada;
  border-radius: 7px;
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
}

.groups {
  padding-top: 10px;
}
.addRacket {
  padding-left: 260px;
}
.rstbox {
  background-color: beige;
  padding: 40px;
}
.cancel {
  padding-left: 260px;
}
hr {
  background-color: black;
}
.removeRacket {
  margin-top: 15px;
}
